<h1>
  Add a new rating
</h1>


<hr>

<form action="/create_rating" method="post">

  <div class="form-group">
    <label for="album_id">
      Album
    </label>

    <%= select_tag(:album_id, options_from_collection_for_select(Album.all, :id, :title, @rating.album_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <input type="text" id="rating" name="rating" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
