<h1>
  Add a new rating
</h1>


<hr>

<!-- Form rating start -->
<form action="/create_rating" method="post">
<!-- Form rating end -->

  <!-- Label and input for album_id start -->
  <div class="form-group">
    <label for="album_id">
      Album
    </label>

    <!-- Input for album_id start -->
    <%= select_tag(:album_id, options_from_collection_for_select(Album.all, :id, :title, @rating.album_id), :class => "form-control") %>
    <!-- Input for album_id end -->
  </div>
  <!-- Label and input for album_id end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <input type="hidden" name="user_id" value="<%= current_user.id %>">
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for rating start -->
  <div class="form-group">
    <label for="rating">
      Rating
    </label>

    <!-- Input for rating start -->
    <input type="text" id="rating" name="rating" class="form-control">
    <!-- Input for rating end -->
  </div>
  <!-- Label and input for rating end -->

  <button class="btn btn-block btn-outline-secondary">
    Create rating
  </button>
</form>

<hr>

<a href="/ratings">
  Go back
</a>
